/* Animações das evoluções */

.animations {
    animation-duration: 2s;
    animation-name: fade1;
    animation-iteration-count: 1;
}

@keyframes fade1 {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}