.Vitoria {
    background-color: #BF1E2E;
  }
  
  .Derrota{
    background-color: #6caf56;
  }
  
  .gifContainer {
    position: fixed;
    left: 35.38%;
    right: 35.31%;
    top: 27.2%;
    bottom: 27.2%;
    z-index: 1;
    text-align: center;
  }
  
  .gifContainer iframe{
    width: 100%;
    height: 100%;
  }
  
  .background{
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
  }

  .return{
    width: 40px;
    height: 40px;
    fill: white;
  }